{% extends 'base.html' %}
{% block title %} О нас {% endblock %}

    {% block content %}
      <div class="sidebar">
        <!-- {% for post in posts.items %}
            <article class="media content-section">
              <div class="media-body">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_images/' + post.author.avatar) }}">
                <div class="article-metadata">
                  <a class="mr-2" href="{{ url_for('user_posts', username=current_user.username) }}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %} -->

          <div class="row mb-2">
            {% for post in posts.items %}
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted"  href="{{ url_for('user_posts', username=current_user.username) }}">Автор: {{ post.author }} {{ post.date_posted.strftime('%Y-%m-%d') }}</div>
                    <p class="showmore" style="text-align: left;">{{ post.content[0: 125]}}<span class="dots">...</span><span class="more">{{ post.content[125:]}}</span>
                      <a>Show More</a>
                    </p>
                    <a href="{{ url_for('post', post_id=post.id) }}">Continue reading</a>
                  </div>
                  <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" 
                  alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" 
                  src="{{ url_for('static', filename='profile_images/' + post.author.avatar) }}"
                  data-holder-rendered="true">
                </div>
              </div>
              
              <!-- 
              <p class="card-text mb-auto" style="text-align: left;">
                {{ post.content[0: 125] }}
                <span id="dots">...</span>
                <span id="more">{{ post.content [125:]}}</span>
              </p>
              <button onclick="myFunction()" id="myBtn">Read more</button> -->
              
              <!-- <p class="show-more">{{ post.content[0: 125] }}
                <span>{{ post.content [125:]}}</span>
              </p>
              <button class="read-more">Read More</button> -->
              {% endfor %}
          </div>

      </div>
  

      <!-- <script>
        var buttons = document.querySelectorAll('.read-more');

        for (var i = 0; i < buttons.length; i++) {
          buttons[i].addEventListener('click', function(event) {
            var span = event.target.previousElementSibling.querySelector('span');
            span.classList.add('fade-in');
          });
        }
      </script> -->

      <!-- <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");
        
          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
          }
        }
      </script> -->


        </div>
        <main>
            <!-- <article>
                <form  action="{{ url_for('index') }}" method="post">
                    <input type="text" name="name" placeholder="Введите ваше Имя">
                    <input type="text" name="mail" placeholder="Введите ваш @mail">
                    <input type="text" name="commen" placeholder="Оставьте отзыв">
                    <button>Отправить</button>
                </form>
            </article> -->
            <form  action="{{ url_for('index') }}" method="post">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" name="name">
              </div>
              <div class="form-group">
                <label for="pwd">@Mail:</label>
                <input type="mail" class="form-control" id="pwd" name="mail">
              </div>
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea type="text" class="form-control" rows="5" id="comment" name="commen"></textarea>
              </div>
              <button>Отправить</button>
            </form>
            <article>
                <ul>
                    {% for note in notes %}s
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>
                <!-- <ul>
                    {% for flight in flights %}
                            <li class="li">{{ flight.name }} : {{ flight.commen }}</li>
                            {{ "%s %s"|format(flight.id, flight.origin) }}[1:-1]|replace('"', ' ')
                    {% endfor %}
                </ul> -->
                <div class="row mb-2">
                  {% for flight in flights %}
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">{{ flight.name }}</a>
                          </h3>
                          <p class="show-more" style="text-align: left;">{{ flight.commen[0: 100] }}
                            <span>{{ flight.commen [100:]}}</span>
                          </p>
                          <button class="read-more">Read More</button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <!-- <script>
                  var buttons = document.querySelectorAll('.read-more');
          
                  for (var i = 0; i < buttons.length; i++) {
                    buttons[i].addEventListener('click', function(event) {
                      var span = event.target.previousElementSibling.querySelector('span');
                      span.classList.add('fade-in');
                    });
                  }
                </script> -->
            </article>
        </main>
        <footer>
            <a type="button" class="btn btn-success"href="{{ url_for('about') }}" role="button">На главную</a>
        </footer>
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
            {% else %}
              ...
          {% endif %}
      {% endfor %}
      <script src="{{ url_for('static', filename='module.js') }}"></script>
    {% endblock %}
    